In [1]:
import sys
import tkinter as tk
from tkinter import ttk
from tkinter import filedialog
import mysql.connector as mysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime, Boolean



#print("Connected to:", connection.get_server_info())

def show_tables():
    # Clear the table listbox
    table_listbox.delete(0, tk.END)
    
    # Connect to the MariaDB server
    connection = mysql.connect(
        host='192.18.156.222',
        user='school',
        password='database',
        database='myProject'
    )
    
    try:
        
        # Create a cursor object to execute SQL queries
        cursor = connection.cursor()
        
        # Execute the query to fetch table names
        cursor.execute("SHOW TABLES")
        
        # Fetch all table names
        tables = cursor.fetchall()
        
        # Insert table names into the listbox
        for table in tables:
            table_listbox.insert(tk.END, table[0])
    
    except mysql.Error as e:
        print(f"Error: {e}")
    
    finally:
        # Close the cursor and database connection
        cursor.close()
        connection.close()

def create_table():
    
    if table_name_entry.get():
    
        table_name = table_name_entry.get()
    
        file_path = filedialog.askopenfilename(filetypes=[("CSV Files", "*.csv")])
        if file_path:
            df = pd.read_csv(file_path)
            print("DataFrame loaded successfully!")
            print(df.head(5))
    
            try:
                # Create SQLAlchemy engine
                engine = create_engine('mysql+pymysql://school:database@192.18.156.222:3306/myProject')
                #df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
        
                # Save the DataFrame into the newly created table
                df.to_sql(
                    table_name,
                    engine,
                    index=False,
                    if_exists='replace',
                    chunksize=500,
                    dtype={
                        'ID': Integer,
                        'Year_Birth': Integer,
                        'Education': String(50),
                        'Marital_Status': String(50),
                        'Income': Integer,
                        'KidsAtHome': Integer,
                        'TeensAtHome': Integer,
                        'DateCustomer': DateTime,
                        'Regency': Integer,
                        'AmountOnWines': Integer,
                        'AmountOnFruits': Integer,
                        'AmountOnMeats': Integer,
                        'AmountOnFish': Integer,
                        'AmountOnSweets': Integer,
                        'AmountOnGolds': Integer,
                        'NumDealBuys': Integer,
                        'NumWebBuys': Integer,
                        'NumCatalogBuys': Integer,
                        'NumStoreBuys': Integer,
                        'WebVisits/Month': Integer,
                        'AcceptedCmp1': Integer,
                        'AcceptedCmp2': Integer,
                        'AcceptedCmp3': Integer,
                        'AcceptedCmp4': Integer,
                        'AcceptedCmp5': Integer,
                        'Complain': Boolean,
                        'Z_CostContact': Integer,
                        'Z_Revenue': Integer,
                        'Response': Integer,
                    }
                )
        
                # Show a success message to the user
                success_label.config(text=f"Table '{table_name}' created successfully.", foreground="black")
    
            except mysql.Error as e:
                print(f"Error: {e}")
    
            finally:
                # Close the cursor and database connection
                #cursor.close()
                #connection.close()
                table_name_entry.delete(0, tk.END)
                show_tables()
                
    else:
        success_label.config(text="Must enter a table name!", foreground="red", font=bold_font)
        
        
def delete_table():
    
    if table_listbox.curselection():
    
        selected_table = table_listbox.get(table_listbox.curselection())
    
        # Connect to the MariaDB server
        connection = mysql.connect(
            host='192.18.156.222',
            user='school',
            password='database',
            database='myProject'
        )
    
        try:
            
            # Create a cursor object to execute SQL queries
            cursor = connection.cursor()
        
            # Execute the query to delete the selected table
            cursor.execute(f"DROP TABLE `{selected_table}`")
        
            # Commit the changes to the database
            connection.commit()
        
            # Show a success message to the user
            success_label.config(text=f"Table '{selected_table}' deleted successfully.", foreground="black")
    
        except mysql.Error as e:
            print(f"Error: {e}")
    
        finally:
            # Close the cursor and database connection
            cursor.close()
            connection.close()
            #Refresh table info
            show_tables()
        
        
# Terminate the Tkinter event loop when the window is closed
def on_closing():
    root.destroy()  
    exit() # Quit the Tkinter event loop and exit Python
        
def quit_program():
    root.update()
    root.destroy()
    exit()

# Create the main window
root = tk.Tk()
root.protocol("WM_DELETE_WINDOW", on_closing)  # Call on_closing() when the window is closed

root.title("Table Manager")

"""
# Create a button to show the tables
show_tables_button = ttk.Button(root, text="Show Tables", command=show_tables)
show_tables_button.pack()
"""

# Create a label for the table selection
table_label = ttk.Label(root, text="Select a table:")
table_label.grid(row=0, column=0, columnspan=2)

# Create a listbox to display table names
table_listbox = tk.Listbox(root)
table_listbox.grid(row=1, column=0, columnspan=2)

#Populate table in database on startup
show_tables()

# Create a button to delete the selected table
delete_button = ttk.Button(root, text="Delete Table", command=delete_table)
delete_button.grid(row=2, column=0, columnspan=2, sticky="n")

# Create a custom font with underlining
custom_font = ("Arial", 15, "bold")

# Create a bold font
bold_font = ("Arial", 13, "bold")

# Create a label for the table creation section
create_label = ttk.Label(root, text="Create Table", font=custom_font)
create_label.grid(row=3, column=0, columnspan=2)

# Create an entry for table name
table_name_label = ttk.Label(root, text="Table Name:")
table_name_label.grid(row=4, column=0, sticky="e")  # Place the label on the left (east)

table_name_entry = ttk.Entry(root)
table_name_entry.grid(row=4, column=1)  # Place the entry field next to the label

"""
# Create a text widget for column definitions
column_label = ttk.Label(root, text="Column Definitions:")
column_label.pack()

column_text = tk.Text(root, height=5, width=30)
column_text.pack()
"""

# Create a button to create the table
create_table_button = ttk.Button(root, text="Create Table from CSV", command=create_table)
create_table_button.grid(row=5, column=0, columnspan=2)

# Create a button to quit the program
create_table_button = ttk.Button(root, text="Quit", command=quit_program)
create_table_button.grid(row=6, column=0, columnspan=2)

# Create a label to display success message
success_label = ttk.Label(root)
success_label.grid(row=7, column=0, columnspan=2)

root.rowconfigure(2, minsize=75)

# Run the main event loop
root.mainloop()

DataFrame loaded successfully!
     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  04/09/2012       58       635  ...                  7             0
1  08/03/2014       38        11  ...                  5             0
2  21/08/2013       26       426  ...                  4             0
3  10/02/2014       26        11  ...                  6             0
4  19/01/2014       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]